
# Aliases
alias ll="ls --color=auto -alh"
alias ls="ls --color=auto -h"
alias grep="grep --color=auto"
alias less="less -r"

alias gtop="LANG=en_US.utf8 TERM=xterm-256color gtop"

# System aliases
alias reboot="sudo reboot"

# Misc
alias bépo="cat ~/.config/zsh/bepo.txt"
alias bepo="cat ~/.config/zsh/bepo.txt"
alias w="sudo wifi-menu"

alias shutdown=" shutdown"

# Git aliases
alias gitlog1="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias gitlog2="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"
